
@media screen and (min-width: 400px){
	#header_search input{
		font-size: 18px;
	}
}
@media screen and (min-width: 680px) {
	#header_bottom{
		display: block;
	}
		
		#bottom_nav li a, #bottom_nav li span{
			padding: 10px 8px;
		}
}
@media screen and (min-width: 740px) {
	
	#bottom_nav li a, #bottom_nav li span{
		padding: 10px 15px;
	}
}
@media screen and (min-width: 600px) {
	#header_search{
		width: 56%
	}
}
@media screen and (min-width: 700px) {
	#header_search{
		width: 46%
	}
}

@media screen and (min-width: 768px){
	#header_search{
		width: 46%;
	}
}
@media screen and (min-width: 769px){
	#bottom_nav_toggle{
		display: none;
	}
	.shopby_dropdown{
		display: none;
	}
}

@media screen and (min-width: 770px) {
	#header_logo img{
		margin: 0;
	}
	p.slide_caption{
		width: 78%;
	}
	#bottom_nav{
		font-size: 12px;
	}
	#bottom_nav li a, #bottom_nav li span{
		padding: 10px 14px;
	}
	.large_font{
		font-size: 28px;
	}
	
}
@media screen and (min-width: 833px) {
	#bottom_nav{
		font-size: 13px;
	}
}
@media screen and (min-width: 900px) {
	#bottom_nav{
		font-size: 14px;
	}
	#nav{
		float: left;
		padding-left: 15px;
		width: 68%;
	}
	#nav_icon{
		display: none;
	}
	ul#top_nav{
		display: inline;
		padding: 14px 0 4px 0;
		position: relative;
		top: 0;	
		left: 0;
		float: left;
	}
		ul#top_nav li{
			float: left;
			font-size: 12px;
		}
	#header_search{
		width: 30%;
		float: right;
		margin-bottom: 4px;
		position: relative;
	}
		#header_search input {
			font-size: 16px;
		}
}
@media screen and (min-width: 970px) {
	#header_search input {
		font-size: 18px;
	}
}
@media screen and (min-width: 982px) {
	#bottom_nav{
		background: url(../images/nav-divider.jpg) left top 0 no-repeat;
		display: inline;
		
	}
		#bottom_nav li{
			background: url(../images/nav-divider.jpg) left top 0 no-repeat;
		}
	.large_font{
		font-size: 26px;
	}
	#shop_by_hardware{
		border-top: 2px solid #98201F;;
	}
	#shop_by_hardware .shop_by{
		background: url(../images/red-gradient-border.jpg) 100% 0 no-repeat;
	}
	#shop_by_collections{
		border-top: 2px solid #263B43;
	}
	#shop_by_collections .shop_by {
    	background: url(../images/blue-gradient-border.jpg) 100% 0 no-repeat; */
	}
	.hardware{
		background: url(../images/red-gradient-border.jpg) 100% 0 no-repeat;
	}
	.collection{
		background: url(../images/blue-gradient-border.jpg) 100% 0 no-repeat;
	}
	#hardware_products, #collection_products, #brand_container{
		display: inline;
	}
	.shopby_dropdown{
		display: none;
	}
	#brand_container{
		margin-top: 30px;
	}
	#footer_icons{
		text-align: right;
    	margin-right: 10px;
    	margin-top: 10px;
	}
}
@media screen and (min-width: 992px) {
	#nav_icon{
		display: none;
	}
	ul#top_nav {
    	padding: 13px 0 4px 0;
    }
    ul#top_nav li {
    	font-size: 13px; 
    }
    #bottom_nav{
		font-size: 16px;
	}
	#bottom_nav li a, #bottom_nav li span{
		padding: 10px 16px;
	}
	.large_font{
		font-size: 36px;
	}

}
@media screen and (min-width: 1042px) {
	ul#top_nav {
    	padding: 11px 0 4px 0;
    }
    ul#top_nav li {
    	font-size: 14px; 
    }
}
@media screen and (min-width: 1048px) {
	#bottom_nav{
		font-size: 16px;
	}
	#bottom_nav li a, #bottom_nav li span{
		padding: 10px 20px;
	}
}
