#header_search input{
	font-size: 14px;
}
#header_logo{
	margin-bottom: 10px;
}
#bottom_nav{
	background: none;
	display: none;
}
	#bottom_nav li{
		background: none;
	}
#header_logo img{
	margin: 0 auto;
}
p.slide_caption{
	width: 100%;
}
#shop_by_hardware, #shop_by_collections, #shop_by_brands{
	border-top: none;
}
	#shop_by_hardware .shop_by{
		background: none;
	}
	#shop_by_collections .shop_by{
		background: none;
	}
	.hardware, .collection {
		background: none;
	}
#slideshow .slide img{
	margin: 0 auto;
}
#footer_icons{
	margin-top: 20px;
}
@media screen and (max-width: 768px) {
	#bottom_nav{
		font-size: 20px;
	}
}
@media screen and (max-width: 768px) {
	#hardware_products, #collection_products, #brand_container{
		display: none;
	}
	#bottom_nav li{
		float: none;
	}
	
		.sub{
			height: 100% !important;
			left: 0 !important;
		    position: relative !important;
		    top: 0 !important;
		    width: 100% !important;
		    margin-left: 0 !important;
		    padding: 0 !important;
		}
		.sub li a{
			padding: 5px 0 0 40px !important;
		}
}
@media screen and (min-width: 400px){
	#header_search input{
		font-size: 18px;
	}
}
@media screen and (min-width: 680px) {
	#header_bottom{
		display: block;
	}
		
		#bottom_nav li a, #bottom_nav li span{
			padding: 10px 8px;
		}
}
@media screen and (min-width: 740px) {
	
	#bottom_nav li a, #bottom_nav li span{
		padding: 10px 8px;
	}
}
@media screen and (min-width: 766px) {
	#bottom_nav{
		background: url(../images/nav-divider.jpg) left top 0 no-repeat;
		display: inline;
		
	}
		#bottom_nav li{
			background: url(../images/nav-divider.jpg) left top 0 no-repeat;
		}
	.large_font{
		font-size: 26px;
	}
	#shop_by_hardware{
		border-top: 2px solid #98201F;;
	}
	#shop_by_hardware .shop_by{
		background: url(../images/red-gradient-border.jpg) 100% 0 no-repeat;
	}
	#shop_by_collections{
		border-top: 2px solid #263B43;
	}
	#shop_by_collections .shop_by {
    	background: url(../images/blue-gradient-border.jpg) 100% 0 no-repeat; */
	}
	.hardware{
		background: url(../images/red-gradient-border.jpg) 100% 0 no-repeat;
	}
	.collection{
		background: url(../images/blue-gradient-border.jpg) 100% 0 no-repeat;
	}
	#hardware_products, #collection_products, #brand_container{
		display: inline;
	}
	.shopby_dropdown{
		display: none;
	}
	#brand_container{
		margin-top: 30px;
	}
	#footer_icons{
		text-align: right;
    	margin-right: 10px;
    	margin-top: 0;
	}
}
@media screen and (min-width: 769px){
	#bottom_nav_toggle{
		display: none;
	}
}
@media screen and (min-width: 870px) {
	#header_logo img{
		margin: 0;
	}
	p.slide_caption{
		width: 78%;
	}
	#bottom_nav{
		font-size: 14px;
	}
	#bottom_nav li a, #bottom_nav li span{
		padding: 10px 14px;
	}
	.large_font{
		font-size: 28px;
	}
}
@media screen and (max-width: 992px) {
    ul#top_nav {
    	padding: 11px 0;
    }
    ul#top_nav li {
    	font-size: 12px; 
    }
    #nav li:hover li:hover ul,
	#nav li:hover li:hover li:hover ul,
	#nav li:hover li:hover li:hover li:hover ul,
	#nav li:hover li:hover li:hover li:hover li:hover ul
	{
		background:#14699F;
		height:auto;
		left: 100%; 
		overflow:visible;
		top: 0; 
		white-space:nowrap; 
		width:auto;
		z-index:400; 
	}

	#nav ul, 
	#nav li:hover ul ul,
	#nav li:hover li:hover ul ul,
	#nav li:hover li:hover li:hover ul ul,
	#nav li:hover li:hover li:hover li:hover ul ul
	{ 
		left:-9999px; 
		list-style:none;
		margin:0; 
		padding:0; 
		position:absolute; 
		top:-9999px;
		height:0;
		width:0;  
	}
}

@media screen and (min-width: 992px) {
	#nav_icon{
		display: none;
	}
	ul#top_nav {
    	padding: 10px 0;
    }
    ul#top_nav li {
    	font-size: 13px; 
    }
    #bottom_nav{
		font-size: 16px;
	}
	#bottom_nav li a, #bottom_nav li span{
		padding: 10px 16px;
	}
	.large_font{
		font-size: 36px;
	}

}
@media screen and (min-width: 1042px) {
	ul#top_nav {
    	padding: 8px 0;
    }
    ul#top_nav li {
    	font-size: 14px; 
    }
}
@media screen and (min-width: 1048px) {
	#bottom_nav{
		font-size: 16px;
	}
	#bottom_nav li a, #bottom_nav li span{
		padding: 10px 20px;
	}
}
